.note {
    display: flex;
    justify-content: center;

    align-items: center;

border-radius: 20px;
background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(83, 83, 83, 0.596);
  border-radius: 0.5em;
height:550px;
text-decoration: none;
margin: 50px 100px;
  padding: 50px;
}

.head {
    color:rgb(0, 0, 0);
    font-size: 40px;
}

.container-fluid {
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .note {
        margin: 50px 30px;
    }
}