.landing {
  height: 100vh;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
min-height: 450px;

  }

.title {
  font-size: 100px;
  border-bottom: 10px solid rgb(0, 0, 0);
}

.tagline {
  font-size: 50px;
  margin-top: 15px;
}


@media screen and (max-width: 992px) {
  .title {
    font-size: 50px;
  }

  .tagline {
    font-size: 30px;
  }
}


@media screen and (max-width: 768px) {
  .title {
    font-size: 50px;
  }

  .tagline {
    font-size: 25px;
  }
}