.game-container {
  margin: auto;
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(83, 83, 83, 0.596);
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  height: auto;
  margin: 20px 50px;

}

.game {
  height: auto;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
}

.quiz {
  margin: auto;
  padding: auto;
  border: 4px solid black;
  box-sizing: border-box;
  width: 500px;
  height: auto;
  min-height: 350px;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
  
}

.quiz {
  color: #292929;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
}

h1,
h4 {
  font-size: 20px;
}


@media screen and (max-width: 550px) {
  .quiz {
      width: 280px;
  }
}

@media screen and (max-width: 992px) {
  .game-container {
      margin: 20px;
  }
}