.created-by {

        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    
        height:auto;
        margin: 20px;
        padding: 20px 0px; 
    }



.created-by-container {
    display: flex;
    flex-direction: row;
}