.contact {

    background-color: #b3ca9d9d;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    height:auto;
    margin: 20px;
    padding: 20px 0px; 
}
