.heading {
    padding: 35px 0px;
    font-size: 40px !important;
    text-transform: uppercase;
    text-align: center !important;
}

@media screen and (max-width: 778px) {
    .heading {
        padding: 25px 0px;
    font-size: 30px !important;
    }
  }

  @media screen and (max-width: 660px) {
    .heading {
    font-size: 20px !important;
    }
  }

  @media screen and (max-width: 400px) {
    .heading {
    font-size: 15px !important;
    }
  }