.suggestion {
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 10px rgba(83, 83, 83, 0.596);
  border-radius: 0.5em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  margin: 20px 50px;
}

.suggestion p {
  font-size: 22px;
  margin: 20px 80px;
  line-height: 1.2em;
}

.suggestion ul {
  margin: 0px 80px;
}

.suggestion ul li {
  line-height: 1.5em;
  font-size: 20px;
}


@media screen and (max-width: 992px) {
    .suggestion {
      margin: 20px;
      font-size: 18px;
    }

    .suggestion p {
      margin: 20px 30px;
    }

    .suggestion ul {
      margin: 0px 20px;
    }

    .suggestion ul li {
      font-size: 16px;
    }
}