.navbar {
    background: transparent;
    position: fixed;
    top:0;
    margin: 0px;
padding: 3em 0em 0em 0em;
width: 100%;

  }
  .navbar ul {
    list-style: none;
    text-align: right;
    padding: 0em 1em 0em 0em;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    display: block;
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-weight: 800;
    text-transform: uppercase;
    margin: 0em 1.5em;
  }
  .navbar ul li a,
  .navbar ul li a:after,
  .navbar ul li a:before {
    transition: all .5s;
  }
  .navbar ul li a:hover {
    color: rgb(26, 26, 26);
  }
  
  
  /* stroke */
  .navbar.stroke ul li a,
  .navbar.fill ul li a {
    position: relative;
  }
  .navbar.stroke ul li a:after,
  .navbar.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -5px 0px;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgba(0, 0, 0, 0.63);
    height: 2px;
  }
  .navbar.stroke ul li a:hover:after {
    width: 100%;
  }
  
  .navbar.fill ul li a {
    transition: all 2s;
  }
  
  .navbar.fill ul li a:after {
    text-align: left;
    margin: 0;
    opacity: 0;
  }
  .navbar.fill ul li a:hover {
    color: #fff;
    z-index: 1;
  }
  .navbar.fill ul li a:hover:after {
    z-index: 9999;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }




  .navbar-active {
    transition: ease-in-out .all 5s;
    background-color: rgba(255, 255, 255, 0.900);
    padding: 0.8em 0em 0em 0em;

  }
